/.vs
/Driver/x64/Debug/Driver.tlog
/CpuTempMonitor/x64/Debug/CpuTempMonitor.tlog
/Driver/x64/Debug/Driver.tlog/*.tlog
/CpuMonitorGui/x64/Debug/CpuMonitorGui.tlog
/CpuMonitorMfc/x64/Debug/CpuMonitorMfc.tlog
/CpuMonitorMfc/x64/Debug/CpuMonitorMfc.log
/KeyboardFilter/x64/Debug/KeyboardFilter.tlog
/MouseFilter/x64/Debug/MouseFilter.tlog
/MFCApplication2/x64/Debug/MFCApplication2.tlog
/MFCApplication2/x64/Debug/*.log
