/.vs
/Driver/x64/Debug/Driver.tlog
/CpuTempMonitor/x64/Debug/CpuTempMonitor.tlog
/Driver/x64/Debug/Driver.tlog/*.tlog
/CpuMonitorGui/x64/Debug/CpuMonitorGui.tlog
/CpuMonitorMfc/x64/Debug/CpuMonitorMfc.tlog
/CpuMonitorMfc/x64/Debug/CpuMonitorMfc.log
